<div class="dashboard-container" [class.is-mobile]="mobileQuery.matches">
    <mat-toolbar class="toolbar">
        <button mat-icon-button (click)="snav.toggle()" style="margin-right: 2rem;">
            <mat-icon>menu</mat-icon>
        </button>
        <h1 class="h1-app">TicketTracer</h1>

        <div class="rigth">
            <ul>
                <li>
                    <button mat-icon-button popovertarget="mi-popup">
                        <mat-icon>help_outline</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>account_circle</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <div class="menuExit">
                            <mat-icon>exit_to_app</mat-icon>
                            EXIT
                        </div>
                    </mat-menu>
                </li>

            </ul>
        </div>
        
        <div id="mi-popup" popover>
            <div class="supportDiv">
                <h1>Welcome to TicketTracer</h1>
                <mat-divider class="divider"></mat-divider>
                <p><span style="font-weight: bold;">Quick start guide</span></p>
                <p>This platform is designed to streamline IT support by tracking incidents (generating a tickets) and organizing them in categories. Once created you can edit or delete them completely.</p>
                <mat-divider class="divider"></mat-divider>

                <p><span style="font-weight: bold;">1 - Manage Categories</span></p>
                <p>Start by generating your service areas (Hardware, Software, O.S ...) in the categories section.</p>
                
                <p><span style="font-weight: bold;">2 - Manage a Ticket</span></p>
                <p>Use the ticket section on the sidebar to report a new incident. Assign it a category, a priority, a distinctive name and a detailed description. Once the incident is resolved close it by using the delete action.</p>

            </div>
        </div>

    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches? 'over': 'side'"
        [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <mat-nav-list>
                <div class="profile-card">
                    <div>
                        <img src="assets/defaultUser.jpeg" alt="userImage" class="userIcon">
                        <h2>John Doe</h2>
                        <h4>john@company.com</h4>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <a mat-list-item [routerLink]="nav.route" *ngFor="let nav of menuNav" class="navItem">
                    <mat-icon class="icon">{{ nav.icon }}</mat-icon>
                    {{nav.name}}
                </a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>

    </mat-sidenav-container>

</div>
